<footer class="flex-none items-center justify-between flex-wrap py-6 text-right">

  <div class="flex">
    <div class="flex-none tracking-tight text-gray-500">
      Last updated on {{ version?.release_date | date }}
    </div>
    <div class="flex-1 flex-grow"></div>
    <div class="flex-none">
      <a href="https://github.com/ricardoerikson/ricardoerikson.github.io" target="blank"
        class="text-gray-500 hover:text-gray-600">
        Fork me on Github
        <i class="fas fa-code-branch ml-2"></i>
      </a>
    </div>
  </div>

</footer>