<footer class="flex-none items-center justify-between flex-wrap py-6 text-right">

  <div class="flex">
    <div class="flex-none tracking-tight text-gray-500">
      Last updated on {{ version?.release_date | date }}
    </div>
    <div class="flex-1 flex-grow"></div>
    <div class="flex-none">
      <a *ngFor="let link of links" href="{{ link.url }}" target="blank"
        class="text-gray-500 hover:text-gray-600 hover:underline">
        <i class="{{ link.classes }} text-xl ml-2"></i>
      </a>
    </div>
  </div>

</footer>
