<div class="flex h-full items-center">
  <div class="container">
    <div class="flex">
      <div class="container">
        <div class="text-left mr-6">
          <h2 class="font-bold text-5xl tracking-tight">Hey, I'm Ricardo Erikson</h2>
          <div class="float-left text-2xl tracking-tighter text-gray-700">
            I'm a full-stack software engineer from Brazil.
            I'm passionate about making people's lives better through
            code by creating products that combine high-quality software
            with a spirit of innovation.</div>
        </div>
      </div>
      <img class="rounded-full border-solid border-2 h-48 w-48 mx-0 border-gray-300 my-auto" src="/assets/pic.jpg"
        alt="">
    </div>
    <div class="flex text-blue-600 pt-8 mt-20">
      <app-icon *ngFor="let link of links" [link]="link"></app-icon>
    </div>
  </div>
</div>
